@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #000;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 1px;
}
.header .header-1 {
    background-color: #262678;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000;
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: border;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: #000;
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: #000;
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: #6262F4;
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: #000;
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons div a:hover {
    color: #6262F4;
}

#search-btn{
    display: none;
}

/* nav */
.topnav{
    overflow: hidden;
    background-color: #6262F4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
   
}
.topnav a:hover{
    background-color: #ddd;
    color: #262678;
    font-size: 13px;
}


/* Banner */
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 24.9%;
    position: relative;
}

.slide img {
    width: 800px;
    height: 400px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #262678;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #6262F4;
}

#radio1:checked ~ .first {
    margin-left: px;
}

#radio2:checked ~ .first {
    margin-left: -30px;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}





/* Produtos */
.produtos img {
    width: 200px;
    height: 200px;
}

.produtos>div {
    background-color: white;
    width: 250px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    padding: 15px;
}

.produtos {
    background-color: #f0ebeb; 
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-left: 90px;

}


/* footer */
footer {
    background-color: #262678;
    padding: 0;
}

.container {
    width: 1140px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -100px;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    color: #ddd;
}

.footer-content p {
    width: 190px;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 1px;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 4px;

}

.list li::before {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #262678;
    transition-duration: .5s;
}

list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;

}

.social-icons li {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7px;
}

.social-icons i {
    color: #fff;
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #7f7f80;
}

.social-icons i:hover {
    color: #7f7f80;
}

.bottom-bar {
    background-color: #6262F4;
    text-align: center;
    padding: 1px;
    margin-top: 1px;
}

.bottom-bar p {
    color: #000;
    margin: 0;
    font-size: 8px;
    padding: 7px;
}