* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #262678;

}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 100px;
    padding: 5px;
}

/* nav */
.navbar {
    overflow: hidden;
    background-color: #6262F4;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar li,
a {
    color: #fff;
    text-decoration: none;
    padding: 10px 100px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #6262F4;
}


/* Banner */
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
    height: 400px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #262678;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #6262F4;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25px;
}

#radio3:checked~.first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}





/* Produtos */
#card-pacote {
    background-color: white;
    box-shadow: #7f7f80;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
}

.card-pacote {
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
    box-shadow: grey 1px 1px 5px;
    margin: 10px 10px 0;
    min-width: 300px;
}

.pacote {
    background-color: #6262F4;
    color: #000;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;

}

.flex {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.pacote a:hover,
.pacote a:focus {
    background-color: #6262F4;
    color: #fff;
    transition: background-color 1s;
    border-radius: 5%;
}

.pacote a:link,
.pacote a:visited {
    color: #000;
    transition: background-color 1s;
    min-height: inherit;
    padding: 1px 8px;
    text-decoration: none;
}

/* footer */
footer {
    background-color: #262678;
    padding: 0;
}

.container {
    width: 1140px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -100px;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    color: #ddd;
}

.footer-content p {
    width: 190px;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 1px;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 4px;

}

.list li::before {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #262678;
    transition-duration: .5s;
}

list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;

}

.social-icons li {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7px;
}

.social-icons i {
    color: #fff;
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #7f7f80;
}

.social-icons i:hover {
    color: #7f7f80;
}

.bottom-bar {
    background-color: #6262F4;
    text-align: center;
    padding: 1px;
    margin-top: 1px;
}

.bottom-bar p {
    color: #000;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}