
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #262678;
    
}
 .logo img{
   width: 80px;
   height: 80px;
   border-radius: 100%;
   margin-left: 100px;
   padding: 5px;
}
 
/* pesquisa */
.content--add-item{
    display: flex;
    justify-content:center;
    
}

#input-new-task,#btn-new-task{
    border: none;
    font-size: 1rem;    
}

#input-new-task{
    width: 50rem;
    padding: 10px;
    
}
#btn-new-task{
    text-align: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
}

    /* nav */
.navbar {
    overflow: hidden;
    background-color: #6262F4;
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
}
.navbar li,a{
    color: #fff;
    text-decoration: none;
    padding: 10px 100px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #6262F4;
}


/* Banner */
.slider-container {
    width: 100%;
    overflow: auto;
    
}

.slider {
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 500px;
    height: 500px;
    border-radius: 25px;
}



/* Categorias */
.categoria{
    margin: 10px;
    padding: 10px;
}

.produtos img{
    border: solid #7f7f80;
    border-radius: 100%;
    box-shadow: grey 1px 1px 5px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}








/* Produtos */
#card-pacote {
    background-color: white;
    box-shadow: #7f7f80;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
}

.card-pacote {
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
    box-shadow: grey 1px 1px 5px;
    margin: 10px 10px 0;
    min-width: 300px;   
}

.pacote{
    background-color: #6262F4;
    color: #000;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;

}

.flex {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.pacote a:hover,
.pacote a:focus {
    background-color: #6262F4;
    color: #fff;
    transition: background-color 1s;
    border-radius: 5%;
}

.pacote a:link,
.pacote a:visited {
    color: #000;
    transition: background-color 1s;
    min-height: inherit;
    padding: 1px 8px;
    text-decoration: none;
}

/* footer */
